# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/
dist/

# Testing
coverage/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
*.swp
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
